@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or global.css */
body {
  overflow: hidden; /* poore page ka scroll remove */
}
.rdp-months {
  min-height: 300px !important;
  display: flex;
  justify-content: center;
}
